html, body * { box-sizing: border-box;}

body {
  margin: 0;
  padding: 0;
  background: #00869d;
  background-image: url('../img/shattered.png');
  font-family: 'Roboto', sans-serif;
}

h1 {
  margin: 0;
}

/* SCSS  */
$cyan: rgb(0, 115, 138);
$grey: #9e9e9e;

$num-of-tabs: 4;

@mixin tabs {
  @for $i from 1 through $num-of-tabs {
    &:nth-of-type(#{$i}) {
      &:checked {
        ~ .slide {
          left: calc((100% / #{$num-of-tabs}) * #{$i - 1});
        }
      }
    }
  }
}

.tab-wrap {
  width: 100%;
  margin-top: 1em;
  position: relative;
  display: flex;
  padding-top: 40px;
  background-color: #00738a;
  label {
    cursor: pointer;
    color: rgba(255,255,255,0.8);
    background-color: $cyan;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 56px;
    transition: color 0.2s ease;
    width: 100%;
    img {
      position: absolute;
      top: 16px;
    }
  }

}

input[type="radio"][name="tabs"] {
  position: absolute;
  z-index: -1;
  visibility: hidden;
  &:checked {
    + .tab-label-content {
      label {
        color: white;
      }
      .tab-content {
        display: block;
      }
    }
  }
  @include tabs;
  &:first-of-type {
    &:checked {
      ~ .slide {
        left: 0;
      }
    }
  }
}

.overlay-result {
	position:fixed;
	top:0;
	height:100%;
	width:100%;
	background:#333;
	overflow:auto;
	z-index:99;
  opacity: 0.8;
}

.loader:before{
	content: "";
	position: absolute;
	top: 0px;
	height: 12px;
	width: 12px;
	border-radius: 12px;
	-webkit-animation: loaderg 3s ease-in-out infinite;
	animation: loaderg 3s ease-in-out infinite;
}

.loader{
	position: relative;
	width: 12px;
	height: 12px;
	top: 50%;
	left: 50%;
	border-radius: 12px;
	background-color: #fff;
}


.loader:after{
	content: "";
	position: absolute;
	top: 0px;
	height: 12px;
	width: 12px;
	border-radius: 12px;
	-webkit-animation: loaderd 3s ease-in-out infinite;
			animation: loaderd 3s ease-in-out infinite;
}

@-webkit-keyframes loaderg{
	0%{	left: -25px; background-color: rgba(255, 255, 255, .8); }
	50%{ left: 0px; background-color: rgba(255, 255, 255, .1);}
	100%{ left:-25px; background-color: rgba(255, 255, 255, .8); }
}
@keyframes loaderg{
	0%{	left: -25px; background-color: rgba(255, 255, 255, .8); }
	50%{ left: 0px; background-color: rgba(255, 255, 255, .1);}
	100%{ left:-25px; background-color: rgba(255, 255, 255, .8); }
}


@-webkit-keyframes loaderd{
	0%{	left: 25px; background-color: rgba(255, 255, 255, .8); }
	50%{ left: 0px; background-color: rgba(255, 255, 255, .1);}
	100%{ left:25px; background-color: rgba(255, 255, 255, .8); }
}
@keyframes loaderd{
	0%{	left: 25px; background-color: rgba(255, 255, 255, .8); }
	50%{ left: 0px; background-color: rgba(255, 255, 255, .1);}
	100%{ left:25px; background-color: rgba(255, 255, 255, .8); }
}


.slide {
  background: #e4e4e4;
  width: calc(100% / #{$num-of-tabs});
  height: 4px;
  position: absolute;
  left: 0;
  top: calc(100% - 4px);
  transition: left 0.3s ease-out;
}

.tab-label-content {
  width: 100%;
  .tab-content {
    width: 100%;
    position: absolute;
    top: 100px;
    left: 0;
    line-height: 130%;
    display: none;
    margin-bottom: 10em;
  }
  .food-content {
    margin-top: 1.5em;
    .r-wrap {
      height: 450px;
    }
    .api-img {
      display: block;
      overflow: hidden;
      width: 300px;
      height: 200px;
      margin: 0 auto;
      img {
        max-height: 100%;
        margin-right: 0.5em;
      }
    }
    .food-wrap {
      color: #363636;
      margin: 2em 0;
      border-right: solid rgba(51, 51, 51, 0.22) 1px;
      &:last-child {
        border-right: 0px;
      }
      .info-food {
        .btn {
          a {
            text-align: center;
            padding:6px 0 6px 0;
            background:$cyan;
            color:#fff;
            border-radius:2px;
            width:100%;
            border:none;
            margin-top: 3em;
            display: block;
            text-decoration: none;
            font-weight: 600;
          }
        }
      }
      .title {
        text-transform: uppercase;
        font-size: 1em;
      }
      .bx-wrap {
        margin-top: 2em;
        .bx {
          border-right: 1px #d4d4d4 solid;
          font-weight: 600;
          &:last-child {
            border-right: none;
          }
          span {
            display: block;
            padding: 0.2em 2.5em;
          }
          .cost {
            background: url('../img/cost.png');
            background-repeat: no-repeat;
            background-position-x: 10%;
          }
          .level {
            background: url('../img/level.png');
            background-repeat: no-repeat;
            background-position-x: 20%;
          }
          .duration {
            background: url('../img/duration.png');
            background-repeat: no-repeat;
            background-position-x: 20%;
          }
        }
      }
    }
  }
  .drink-content {
    .drink-alc {
      background: #ffffff;
    }
    .drink-no-alc {
      background: #ffffff;
    }
    iframe {
      padding: 2em;
    }
    .title {
      text-transform: uppercase;
      color: #f6f6f6;
      margin-top: 1.5em;
      display: block;
      font-weight: 300;
      background: #363636;
      padding: 1em 0;
      font-style: italic;
    }
    h3 {
      font-weight: 300;
      color: #363636;
    }
  }
  .series-content {
    img {
      max-width: 100%;
    }
    .box {
      background: #ffffff;
      padding: 0.8em;
    }
  }

  .acti-content {
    span {
      display: block;
      color: #f6f6f6;
      font-weight: 600;
      padding: 3.5em 0;
      background: #363636;
      margin-top: 2em;
    }
  }
}

.sticky-input {
  background: $cyan;
  width: 100%;
  position: fixed;
  bottom:0;
  padding-top: 1em;
}

.toolbar {
  background: #00738a;
  padding: 0.5em 1.5em;
  margin-bottom: 1em;
}

.user-info {
  .user-name {
    color: #f6f6f6;
    font-style: italic;
    float: right;
    margin-top: 1em;
    margin-left: 1em;
  }
  .user-img {
    border-radius: 50%;
    display: block;
    overflow: hidden;
    height: 50px;
    width: 50px;
    float: right;
    img {
      max-height: 100%;
      margin-right: 0.5em;
    }
  }
}
.wlcome-user {
  color: #f6f6f6;
  font-weight: 300;
  font-style: italic;
}

.btn-signout {
  color: #fafafa;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  font-size: 0.8em;
  margin-top: 1em;
}

@media screen and (max-width: 800px) {
  .tab-wrap {
    width: 100%;
    label {
      font-size: 0.6em;
      img {
        width: 6%;
      }
    }
  }
}

.searched-title {
  color: #f6f6f6;
  font-size: 2em;
  font-weight: 300;
  margin-bottom: 1em;
  span {
    font-style: italic;
    font-weight: 600;
  }
}

.poster-h {
  height: 100%;
  padding-left: 0;
  padding-right: 0;
  background: #f6f6f6;
  overflow:hidden;
  margin-bottom: 2em;
  .title {
    font-size: 1.5em;
    margin: 0.5em 0;
    text-align: center;
    text-transform: uppercase;
  }
  h2, h3{
    margin: 0;
  }
  .r-pic {
    padding-left: 0;
    padding-right: 0;
    img {
      width: 35%;
    }
  }
}
.r-wrap {
  padding-left: 0;
  padding-right: 0;
  background: #ffffff;
  height: 240px;
  overflow:hidden;
  margin-bottom: 2em;
  .title {
    font-size: 1.5em;
    margin: 0.5em 0;
    text-align: center;
    text-transform: uppercase;
  }
  h2, h3{
    margin: 0;
  }
  .r-pic {
    padding-left: 0;
    padding-right: 0;
    img {
      width: 100%;
    }
  }
  .recipe-detail {
    color: #363636;
    text-align: left;
    .box {
      padding-left: 1em;
    }
    .bx-wrap {
      margin-top: 2em;
      .bx {
        border-right: 1px #d4d4d4 solid;
        font-weight: 600;
        &:last-child {
          border-right: none;
        }
        span {
          display: block;
          padding: 0.2em 2.5em;
        }
        .cost {
          background: url('../img/cost.png');
          background-repeat: no-repeat;
          background-position-x: 2%;
        }
        .level {
          background: url('../img/level.png');
          background-repeat: no-repeat;
          background-position-x: 2%;
        }
        .duration {
          background: url('../img/duration.png');
          background-repeat: no-repeat;
          background-position-x: 2%;
        }
      }
    }
  }
}

// .row w/o marges

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

/* CSS ONLY  */

.container {
  width: 100%;
}

.frame {
  width: 100%;
  transition: all .5s ease;
}

.logo {
  margin-top: 25px;
}

.logo h1{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 2.5em;
  color: #ffffff;
  padding-top: 10px;
  text-transform: uppercase;
}

.frame-long {
}

.frame-short {
  box-shadow: 0px 2px 7px rgba(0,0,0,0.1);
}

.nav-login {
  width: 100%;
  height: 100px;
  padding-top: 40px;
  opacity: 1;
  transition: all .5s ease;
  li {
    font-size: 18px;
    display: inline;
    text-transform: uppercase;
    padding-right: 35px;
    color: #ffffff;
  }
}

.links{
  text-align: center;
}

.nav-up {
  transform: translateY(-100px);
  opacity: 0;
}


.signin-active a {
  padding-bottom: 10px;
  color: #ffffff;
  text-decoration: none;
  border-bottom: solid 2px #00869d;
  transition: all .25s ease;
  cursor: pointer;
}

.signin-inactive a {
  padding-bottom: 0;
  color: rgba(255,255,255,.3);
  text-decoration: none;
  border-bottom: none;
  cursor: pointer;
}

.signup-active a {
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
  border-bottom: solid 2px #00869d;
  padding-bottom: 10px;
}

.signup-inactive a {
  cursor: pointer;
  color: rgba(255,255,255,.3);
  text-decoration: none;
  transition: all .25s ease;
}

.form-signin {
  width: 430px;
  height: 375px;
  font-size: 16px;
  font-weight: 300;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 55px;
  transition: opacity .5s ease, transform .5s ease;
  margin: 0 auto;
}

.form-wrap {
  overflow: auto;
}

.form-signin-left {
  transform: translateX(-400px);
  opacity: .0;
  display: block;
}

.form-signup {
  width: 430px;
  font-size: 16px;
  font-weight: 300;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 35px;
  position: relative;
  top: -375px;
  left: 400px;
  opacity: 0;
  transition: all .5s ease;
  margin: 0 auto;
  display: none;
}

.form-signup-left {
  transform: translateX(-399px);
  opacity: 1;
  display: block;
}

.form-signup-down {
  top: 0px;
  opacity: 0;
}

.success {
  border-radius: 3px;
  width: 100%;
  text-align: center;
  /*opacity: .0;*/
  transition: all .8s .4s ease;
}

.success-left {
  transform: translateX(-406px);
  opacity: 1;
}

.form-signin input, .form-signup input {
  color: #ffffff;
  font-size: 13px;
}

.form-styling {
  width: 100%;
  height: 35px;
  padding-left: 15px;
  border: none;
  margin-bottom: 20px;
  background: rgba(255,255,255,.2);
}

label {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 13px;
  padding-left: 15px;
  padding-bottom: 10px;
  color: rgba(255,255,255,.7);
  display: block;
}

:focus {
  outline: none;
}

.form-signin input:focus, textarea:focus, .form-signup input:focus, textarea:focus {
    background: rgba(255,255,255,.3);
    border: none;
    padding-right: 40px;
    transition: background .5s ease;
 }

.btn-animate {
  float: left;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  text-align: center;
  color: rgba(255,255,255, 1);
  padding-top: 8px;
  width: 100%;
  height: 45px;
  margin-top: 23px;
  background-color: #20626d;
  left: 0px;
  top: 0px;
  transition: all .5s ease;
  .btn-signin {
    float: left;
    padding-top: 8px;
    width: 100%;
    height: 45px;
    //margin-top: -8px;
  }
  .btn-sign-google {
    background: url(../img/google.png);
    background-position-x: 15%;
    background-repeat: no-repeat;
    width: 100%;
    height: 45px;
    display: block;
    padding-top: 8px;
  }
  .btn-signup {
    float: left;
    padding-top: 8px;
    width: 100%;
    height: 45px;
    &:hover {
      cursor: pointer;
      background-color: #00869d;
      transition: background-color .5s;
    }
  }
}


input { width: 350px; }
button { width: 50px; }
textarea { width: 100%; }

.buttonRec {
  width: 80px;
  height: 80px;
  border: 10px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  background-color: #2a406d;
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

.innerRec {
  background-color: #9e1919;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: all 0.2s ease;
  transform: scale(0.94);
}

.buttonRec.active .innerRec {
  transform: scale(0.5);
  border-radius: 12%;
}

#back {
  top: 0;
  left: 0;
}

#body_corp {
  width: 50%;
  margin: 0 auto;
  input {
    width: 100%;
    height: 70px;
    padding: 1%;
    margin: 30px;
    &::placeholder {
      font-size: 1.2em;
      color: #363636;
      font-weight: 400;
    }
  }
  .hide {
   display: none;
  }
  button {
   width: 50px;
  }
  textarea {
    width: 100%;
  }
}

/*  First result page */

.w-icons img{
  width: 15%;
  color: #ffffff;
}

.review {
  margin-top: 1.2em;
}

.review span{
  display: block;
}
.weather {
  color: #ffffff;
}

.city {
  font-weight: 600;
  font-size: 1.8em;
  margin-bottom: 0.2em;
}

.time {
  font-size: 1.8em;
}

.temp-wrap {
  border-right: 1px rgba(230, 230, 230, 0.4) solid;
}

.locate-review {
  padding: 1em 0;
}

.temp-city {
  font-size: 3.8em;
  font-weight: 100;
  padding: 0.5em 0;
  font-family: 'Roboto', sans-serif;
}

.status {
  font-style: italic;
  font-weight: 100;
}

.effectwrap input[type="text"] {
  color: #333; width: 100%; box-sizing: border-box; letter-spacing: 1px;
}
.effectwrap{ width: 50%; margin: 0  auto; position: relative;}
.effect-9{border: 1px solid #ccc; padding: 7px 14px 9px; transition: 0.4s;}
.effect-9 ~ .focus-border:before,
.effect-9 ~ .focus-border:after{content: ""; position: absolute; top: 0; right: 0; width: 0; height: 2px; background-color: #424242; transition: 0.2s; transition-delay: 0.2s;}
.effect-9 ~ .focus-border:after{top: auto; bottom: 0; right: auto; left: 0; transition-delay: 0.6s;}
.effect-9 ~ .focus-border i:before,
.effect-9 ~ .focus-border i:after{content: ""; position: absolute; top: 0; left: 0; width: 2px; height: 0; background-color: #424242; transition: 0.2s;}
.effect-9 ~ .focus-border i:after{left: auto; right: 0; top: auto; bottom: 0; transition-delay: 0.4s;}
.effect-9:focus ~ .focus-border:before,
.effect-9:focus ~ .focus-border:after{width: 100%; transition: 0.2s; transition-delay: 0.6s;}
.effect-9:focus ~ .focus-border:after{transition-delay: 0.2s;}
.effect-9:focus ~ .focus-border i:before,
.effect-9:focus ~ .focus-border i:after{height: 100%; transition: 0.2s;}
.effect-9:focus ~ .focus-border i:after{transition-delay: 0.4s;}

/* mediaqueries breakpoints */

@media only screen and (min-width: 65.250em) and (max-width: 90.000em) {
  /* en dessus de 971px - NORMAL SITE */

}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  /* en dessous de 970px - TABET */

}
@media only screen and (max-width: 40em) {
  /* en dessous de 600px - PHABLETT */

  .form-signin {
    width: 100% !important;
  }
  .w-icons img {
    width: 90%;
  }
  .temp-city {
    padding: 0.2em 0.2em;
    font-size: 3.2em;
  }
  .locate-review {
    padding: 0.5em 0;
  }
  .time {
    font-size: 0.9em;
    font-weight: 300;
  }

  .logo {
    h1 {
      font-size: 1.2em;
      font-weight: 600;
    }
  }

  #body_corp {
    input {
      margin: 0;
      height: 50px;
      margin-bottom: 0.5em;
      &::placeholder {
        font-size: 0.8em;
        color: #363636;
        font-weight: 400;
      }
    }
  }

  .toolbar {
    margin-bottom: 0.5em;
  }

  .buttonRec {
    margin-top: 1.5em;
  }

  .user-info {
    padding-right: 0;
    padding-left: 0;
    .user-name {
      margin-left: 0.25em;
    }
  }
  .searched-title {
    padding: 0.5em;
    font-size: 1.5em;
  }
  .r-wrap{
    height: 80vh;
    .recipe-detail {
      .bx {
        .cost {
          background-position-x: 5%;
          padding: 0.2em  1em;
        }
        .level {
          background-position-x: 5%;
          padding: 0.2em  1em;
        }
        .duration {
          background-position-x: 5%;
          padding: 0.2em  1.8em;
        }
      }
    }
  }
  .links {
    li {
      padding-right: 0;
    }
  }
}

.arrow {
  position:fixed;
  bottom:30px;
  height:100px;
  //background: url('../img/micro.png');
  margin: auto 45%;
  span {
    color: #f6f6f6;
    font-style: italic;
    font-weight: 300;
    display: block;
    text-align: center;
    margin-top: 0.8em;
  }
  img {
    display: block;
    margin: 0 auto;
  }
}
.bounce {
  -webkit-animation:bounce 2s infinite;
  animation:bounce 2s infinite
}

@keyframes bounce {

0%,20%,50%,80%,100% {
    -webkit-transform:translateY(0);
    -moz-transform:translateY(0);
    -ms-transform:translateY(0);
    -o-transform:translateY(0);
    transform:translateY(0)
}

40% {
    -webkit-transform:translateY(-30px);
    -moz-transform:translateY(-30px);
    -ms-transform:translateY(-30px);
    -o-transform:translateY(-30px);
    transform:translateY(-30px)
}

60% {
    -webkit-transform:translateY(-15px);
    -moz-transform:translateY(-15px);
    -ms-transform:translateY(-15px);
    -o-transform:translateY(-15px);
    transform:translateY(-15px)
    }
}
