html, body * { box-sizing: border-box;}

body {
  margin: 0;
  padding: 0;
  background: #00869d;
  background-image: url('../img/shattered.png');
  font-family: 'Roboto', sans-serif;
}

/* SCSS  */
$cyan: rgb(0, 115, 138);
$grey: #9e9e9e;

$num-of-tabs: 4;

@mixin tabs {
  @for $i from 1 through $num-of-tabs {
    &:nth-of-type(#{$i}) {
      &:checked {
        ~ .slide {
          left: calc((100% / #{$num-of-tabs}) * #{$i - 1});
        }
      }
    }
  }
}

.tab-wrap {
  width: 100%;
  //margin-left: 20%;
  margin-top: 1em;
  position: relative;
  display: flex;
  //top: -106px;
}

input[type="radio"][name="tabs"] {
  position: absolute;
  z-index: -1;
  visibility: hidden;
  &:checked {
    + .tab-label-content {
      label {
        color: white;
      }
      .tab-content {
        display: block;
      }
    }
  }
  @include tabs;
  &:first-of-type {
    &:checked {
      ~ .slide {
        left: 0;
      }
    }
  }
}

.tab-wrap {
  label {
    cursor: pointer;
    color: rgba(255,255,255,0.8);
    background-color: $cyan;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 56px;
    transition: color 0.2s ease;
    width: 100%;
  }
}

.slide {
  background: #e4e4e4;
  width: calc(100% / #{$num-of-tabs});
  height: 4px;
  position: absolute;
  left: 0;
  top: calc(100% - 4px);
  transition: left 0.3s ease-out;
}

.tab-label-content {
  width: 100%;
  .tab-content {
    position: absolute;
    top: 100px;
    left: 16px;
    line-height: 130%;
    display: none;
  }
}

.sticky-input {
  background: $cyan;
  width: 100%;
  position: fixed;
  bottom:0;
  padding-top: 1em;
  input {
    margin: 0 auto;
  }
}

.user-name {
  color: #f6f6f6;
  font-style: italic;
}
.user-img {
  border-radius: 50%;
  display: block;
  overflow: hidden;
  height: 50px;
  width: 50px;
  img {
    max-height: 100%;
  }
}

.btn-signout {
  color: #fafafa;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  font-size: 0.8em;
}

@media screen and (max-width: 800px) {
  .tab-wrap {
    width: 100%;
    //margin-left: 10%;
    //top: -106px;
  }
}


// .row w/o marges

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

/* CSS ONLY  */

.container {
  width: 100%;
}

.frame {
  width: 100%;
  transition: all .5s ease;
}

.logo {
  margin-top: 25px;
}

.logo h1{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 2.5em;
  color: #ffffff;
  padding-top: 10px;
}

.frame-long {
}

.frame-short {
  box-shadow: 0px 2px 7px rgba(0,0,0,0.1);
}

.nav-login {
  width: 100%;
  height: 100px;
  padding-top: 40px;
  opacity: 1;
  transition: all .5s ease;
}

.links{
  text-align: center;
}

.nav-up {
  transform: translateY(-100px);
  opacity: 0;
}

li {
  font-size: 18px;
  display: inline;
  text-transform: uppercase;
  padding-right: 35px;
  color: #ffffff;
}

.signin-active a {
  padding-bottom: 10px;
  color: #ffffff;
  text-decoration: none;
  border-bottom: solid 2px #00869d;
  transition: all .25s ease;
  cursor: pointer;
}

.signin-inactive a {
  padding-bottom: 0;
  color: rgba(255,255,255,.3);
  text-decoration: none;
  border-bottom: none;
  cursor: pointer;
}

.signup-active a {
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
  border-bottom: solid 2px #00869d;
  padding-bottom: 10px;
}

.signup-inactive a {
  cursor: pointer;
  color: rgba(255,255,255,.3);
  text-decoration: none;
  transition: all .25s ease;
}

.form-signin {
  width: 430px;
  height: 375px;
  font-size: 16px;
  font-weight: 300;
  padding-left: 37px;
  padding-right: 37px;
  padding-top: 55px;
  transition: opacity .5s ease, transform .5s ease;
  margin: 0 auto;
}

.form-wrap {
  overflow: auto;
}

.form-signin-left {
  transform: translateX(-400px);
  opacity: .0;
  display: block;
}

.form-signup {
  width: 430px;
  font-size: 16px;
  font-weight: 300;
  padding-left: 37px;
  padding-right: 37px;
  padding-top: 35px;
  position: relative;
  top: -375px;
  left: 400px;
  opacity: 0;
  transition: all .5s ease;
  margin: 0 auto;
  display: none;
}

.form-signup-left {
  transform: translateX(-399px);
  opacity: 1;
  display: block;
}

.form-signup-down {
  top: 0px;
  opacity: 0;
}

.success {
  border-radius: 3px;
  width: 100%;
  text-align: center;
  /*opacity: .0;*/
  transition: all .8s .4s ease;
}

.success-left {
  transform: translateX(-406px);
  opacity: 1;
}

.form-signin input, .form-signup input {
  color: #ffffff;
  font-size: 13px;
}

.form-styling {
  width: 100%;
  height: 35px;
  padding-left: 15px;
  border: none;
  margin-bottom: 20px;
  background: rgba(255,255,255,.2);
}

label {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 13px;
  padding-left: 15px;
  padding-bottom: 10px;
  color: rgba(255,255,255,.7);
  display: block;
}

:focus {outline: none;
}

.form-signin input:focus, textarea:focus, .form-signup input:focus, textarea:focus {
    background: rgba(255,255,255,.3);
    border: none;
    padding-right: 40px;
    transition: background .5s ease;
 }

.btn-signup {
  float: left;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  text-align: center;
  color: #ffffff;
  padding-top: 8px;
  width: 100%;
  height: 35px;
  margin-top: 23px;
  background-color: #737373;
}

.btn-signin {
  float: left;
  padding-top: 8px;
  width: 100%;
  height: 35px;
  margin-top: -8px;
}

.btn-animate {
  float: left;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  text-align: center;
  color: rgba(255,255,255, 1);
  padding-top: 8px;
  width: 100%;
  height: 35px;
  margin-top: 23px;
  background-color: #737373;
  left: 0px;
  top: 0px;
  transition: all .5s ease, top .5s ease .5s, height .5s ease .5s, background-color .5s ease .75s;
}

.btn-animate-grow {
  width: 130%;
  height: 625px;
  position: relative;
  left: -55px;
  top: -420px;
  color: rgba(255,255,255,0);
  background-color: rgba(255,255,255,1);
}

.btn-animate-google {
  float: left;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  text-align: center;
  color: rgba(255,255,255, 1) !important;
  padding-top: 8px;
  width: 100%;
  height: 35px;
  margin-top: 23px;
  background-color: red;
  left: 0px;
  top: 0px;
}

.btn-animate-google a{
  color: rgba(255,255,255, 1) !important;
	text-decoration: none !important;
}

a.btn-signup:hover, a.btn-signin:hover {
    cursor: pointer;
    background-color: #0F4FE6;
    transition: background-color .5s;
}

.btn-animate-google:hover {
    cursor: pointer;
    background-color: #d40000;
}

input { width: 350px; }
button { width: 50px; }
textarea { width: 100%; }

.buttonRec {
  width: 80px;
  height: 80px;
  border: 10px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  background-color: #2a406d;
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

.innerRec {
  background-color: #9e1919;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: all 0.2s ease;
  transform: scale(0.94);
}

.buttonRec.active .innerRec {
  transform: scale(0.5);
  border-radius: 12%;
}

/* ADD BY DIMITRI */
#back{
  top: 0;
  left: 0;
}

#body_corp {
  width: 50%;
  margin: 0 auto;
}

#body_corp input {
  width: 100%;
  height: 70px;
  padding: 1%;
  margin: 30px;
}

#body_corp .hide {
  display: none;
}

#body_corp button {
  width: 50px;
}

#body_corp textarea {
  width: 100%;
}

/*  First result page */

.w-icons img{
  width: 15%;
  color: #ffffff;
}

.review {
  margin-top: 1.2em;
}

.review span{
  display: block;
}
.weather {
  color: #ffffff;
}

.city {
  font-weight: 600;
  font-size: 1.8em;
  margin-bottom: 0.2em;
}

.time {
  font-size: 1.8em;
}

.temp-wrap {
  border-right: 1px rgba(230, 230, 230, 0.4) solid;
}

.locate-review {
  padding: 1em 0;
}

.temp-city {
  font-size: 3.8em;
  font-weight: 100;
  padding: 0.5em 0;
  font-family: 'Roboto', sans-serif;
}

.status {
  font-style: italic;
  font-weight: 100;
}

.effectwrap input[type="text"]{color: #333; width: 100%; box-sizing: border-box; letter-spacing: 1px;}
.effectwrap{ width: 50%; margin: 0  auto; position: relative;}
.effect-9{border: 1px solid #ccc; padding: 7px 14px 9px; transition: 0.4s;}
.effect-9 ~ .focus-border:before,
.effect-9 ~ .focus-border:after{content: ""; position: absolute; top: 0; right: 0; width: 0; height: 2px; background-color: #424242; transition: 0.2s; transition-delay: 0.2s;}
.effect-9 ~ .focus-border:after{top: auto; bottom: 0; right: auto; left: 0; transition-delay: 0.6s;}
.effect-9 ~ .focus-border i:before,
.effect-9 ~ .focus-border i:after{content: ""; position: absolute; top: 0; left: 0; width: 2px; height: 0; background-color: #424242; transition: 0.2s;}
.effect-9 ~ .focus-border i:after{left: auto; right: 0; top: auto; bottom: 0; transition-delay: 0.4s;}
.effect-9:focus ~ .focus-border:before,
.effect-9:focus ~ .focus-border:after{width: 100%; transition: 0.2s; transition-delay: 0.6s;}
.effect-9:focus ~ .focus-border:after{transition-delay: 0.2s;}
.effect-9:focus ~ .focus-border i:before,
.effect-9:focus ~ .focus-border i:after{height: 100%; transition: 0.2s;}
.effect-9:focus ~ .focus-border i:after{transition-delay: 0.4s;}

/* mediaqueries breakpoints */

@media only screen and (min-width: 65.250em) and (max-width: 90.000em) {
  /* en dessus de 971px - NORMAL SITE */

}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  /* en dessous de 970px - TABET */

}
@media only screen and (max-width: 40em) {
  /* en dessous de 600px - PHABLETT */
  .w-icons img {
    width: 90%;
  }
  .temp-city {
    padding: 0.2em 0.2em;
    font-size: 3.2em;
  }
  .locate-review {
    padding: 0.5em 0;
  }
  .time {
    font-size: 0.9em;
    font-weight: 300;
  }
}
@media screen and (max-width: 480px) {
  /* en dessous de 480px - MOBILE */
}
