<h1>{{ title }}</h1>
<header>
    <div class="weather row center-lg center-xs">
        <div class="col-lg-6 col-xs-6">
            <div class="w-icons">
              <img src="/img/weather/wind.svg" alt="">
            </div>
        </div>
        <div class="col-lg-6 col-xs-6">
            <div class="review">
                <img src="/img/weather/raindrop.png" alt="">                <span>{{ services.weather.humidity }}</span>
                <img src="/img/weather/wind.png" alt="">
                <span id="wind_ville">16 km/h NE</span>
            </div>
        </div>
        <div class="col-lg-6 col-xs-6 temp-wrap">
            <div class="temp-city" id="temperature_ville">
              {{ services.weather.tmp }}<span> °c</span>
            </div>
        </div>
        <div class="col-lg-6 col-xs-6">
            <div class="locate-review">
                <div class="city" id="name_ville">
                  {{ services.weather.ville }}
                </div>
                <div id="date">
                    <span class="time" id="heure_ville">17:00</span>
                </div>
                <span id="statut_ville" class="status">{{ services.weather.condition }}</span>
            </div>
        </div>
    </div>
</header>
<div class="">
    <div class="tab-wrap">
        <input type="radio" name="tabs" id="food" checked="">
        <div class="tab-label-content" id="tab1-content">
            <label for="food">
                <img src="/img/food/chicken.png" alt=""><br>
                <span>Food</span>
            </label>
            <div class="tab-content">
                AQUI LA COMIDA!!
            </div>
        </div>
        <input type="radio" name="tabs" id="drinks">
        <div class="tab-label-content" id="tab2-content">
            <label for="drinks">
                <img src="/img/drinks/glass.png" alt="">                <span>Food</span>
            </label>
            <div class="tab-content">
                <div id="real">
                    <h2>Alcoholic drink <div id="drinksA">Salty Dog</div> </h2>
                    <iframe width="450" height="300" id="videoA" src="https://www.youtube.com/embed/SwBtnLe7lRc" frameborder="0" allowfullscreen=""></iframe>
                </div>
                <div id="big">
                    <h2>Soft drink <div id="drinksNA">Ping-pong</div> </h2>
                    <iframe width="450" height="300" id="videoNA" frameborder="0" allowfullscreen="" src="https://www.youtube.com/embed/zuPwKhVlQgs"></iframe>
                </div>
            </div>
        </div>
        <input type="radio" name="tabs" id="activities">
        <div class="tab-label-content" id="tab3-content">
            <label for="activities">
                <img src="/img/activities/activities.png" alt=""> <br>
                <span>Activities</span>
            </label>
            <div class="tab-content">Here on propose une activité selon la météo, if --&gt; fait beau alors on les envoie dors, else --&gt; on propose de lire un livre regarder des films, bref</div>
        </div>
        <input type="radio" name="tabs" id="movies">
        <div class="tab-label-content" id="tab4-content">
            <label for="movies">
                <img src="/img/movies/old-television.png" alt=""> <br>
                <span>Movies &amp; series</span>
            </label>
            <div class="tab-content">
                <section id="steezy">
                    <div id="serie">If You See God, Tell Him</div>
                </section>
            </div>
        </div>
        <div class="slide"></div>
    </div>
    <div class="sticky-input">
        <div class="effectwrap">
            <input class="effect-9" type="text" placeholder="Placeholder Text">
            <span class="focus-border">
        <i></i>
        </span>
        </div>
        <div class="buttonRec">
            <div class="innerRec">
            </div>
        </div>
    </div>
</div>
