<div class="container">
    <div class="row center-xs logo">
        <div class="col-xs-6">
            <div>
                <img src="/img/sun.png" alt="">
                <div class="">
                    <h1>Moodify app</h1>
                </div>
            </div>
        </div>
    </div>
  <div class="frame">
    <div class="nav-login">
      <ul class="links">
        <li class="signin-active"><a class="btn">Se connecter</a></li>
        <li class="signup-inactive"><a class="btn">S'inscrire</a></li>
      </ul>
    </div>
    <div class="form-wrap">
      <form method="post" accept-charset="utf-8" class="form-signin" id="form_connexion" action="/connexion/connect"><div style="display:none;">
        <input type="hidden" name="_method" value="POST"></div>                <label for="username">Email</label>
        <div class="input email">
          <input type="email" name="email" class="form-styling" id="email">
        </div>
          <label for="password">Mot de passe</label>
        <div class="input password">
          <input type="password" name="password" class="form-styling" id="password">
        </div>
        <div class="btn-animate">
          <a class="btn-signin">Se connecter</a>
        </div>
        <div class="btn-animate-google">
          <a class="btn-signin-google" href="/connexion/googlelogin">Se connecter via Google</a>
        </div>
        <button g-login type="button">Google Login</button>
        <button ng-click="signout()" type="button">signout</button>
	       <h4>result: {{userGoogle}}</h4>
        </form>
        <form class="form-signup" action="" method="post" name="form">
            <label for="fullname">Full name</label>
            <input class="form-styling" type="text" name="fullname" placeholder="">
            <label for="email">Email</label>
            <input class="form-styling" type="text" name="email" placeholder="">
            <label for="password">Password</label>
            <input class="form-styling" type="text" name="password" placeholder="">
            <label for="confirmpassword">Confirm password</label>
            <input class="form-styling" type="text" name="confirmpassword" placeholder="">
            <a ng-click="checked = !checked" class="btn-signup">Sign Up</a>
        </form>
  </div>
</div>

</div>
