<div class="container">
  <div class="row center-xs logo">
    <div class="col-xs-6">
      <div>
        <img src="/img/sun.png" alt="">
        <div class="">
          <h1>- Moodify app -</h1>
        </div>
      </div>
    </div>

  <div class="row">
    <div class="frame col-lg-12 col-md-12  col-sm-12 col-xs-12">
      <div class="nav-login">
        <ul class="links">
          <li class="signin-active"><a class="btn">Se connecter</a></li>
          <li class="signup-inactive"><a class="btn">S'inscrire</a></li>
        </ul>
      </div>
      <div class="form-wrap">
        <form class="form-signin" id="form_connexion">
          <label for="username">Email</label>
          <div class="input email">
            <input type="email" class="form-styling" ng-model="email">
          </div>
          <label for="password">Mot de passe</label>
          <div class="input password">
            <input type="password" class="form-styling" ng-model="password">
          </div>
          <div class="btn-animate">
            <a class="btn-signin" ng-click="login()">Sign in</a>
          </div>
          <div class="btn-animate">
            <a ng-click="googleLogin()" class="btn-sign-google">
              Sign up using GOOGLE +
            </a>
          </div>

        </form>
        <form class="form-signup">
          <label for="fullname">Firstname</label>
          <input class="form-styling" type="text" ng-model="firstname" required>

          <label for="email">Lastname</label>
          <input class="form-styling" type="text" ng-model="lastname" required>

          <label for="email">Email</label>
          <input class="form-styling" type="text" ng-model="email" required>

          <label for="password">Password</label>
          <input class="form-styling" type="password" ng-model="password"
                  required equalsPassword="{{password_confirm}}">

          <label for="confirmpassword">Confirm password</label>
          <input class="form-styling"
                type="password"
                ng-model="password_confirm"
                required equalsPassword="{{password}}">

          <div class="btn-animate">
            <a ng-click="register()" class="btn-signup">S'inscrire</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
