<div class="row center-lg center-xs">
  <div class="col-lg-6">
    <a href="/connexion/logout" class="btn-signout"> Sign out <span><img src="/img/sign-out.png" alt=""></span></a>
  </div>
  <div class="col-lg-6 user-info">
    <span class="user-name">Barack OBAMA</span>
    <div class="user-img">
    <img src="/img/user-img.jpg" alt="">
    </div>
  </div>
</div>
<div class="row center-xs logo">
  <div class="col-xs-6">
    <div class="box">
      <img src="/img/sun.png" alt="">
      <div class="">
          <h1>Moodify app</h1>
          <h2>Bonjour, </h2>
      </div>
    </div>
  </div>
</div>
<div class="overlay">
	<div id="body_corp">
		<input id="input" type="text" placeholder="Dite &quot;Météo à&quot; + nom de la ville !">
		<div class="buttonRec" ng-click="switchRecognition()">
			<div class="innerRec">
			</div>
		</div>
		<input type="text" name="city" placeholder="Saisissez une ville" id="city" class="hide">
	</div>
</div>
